<!-- navbar -->
<div class="navbar" id="navbar">
    <div class="small-container">
        <div class="row">
            <ul class="link-background">
                <li><a href="" class="left">Home</a></li>
                <li><a href="" class="left">About US</a></li>
                <li><a href="" class="left">Treatments +</a></li>
                <li><a href="" class="left">Destination +</a></li>
                <li><a href="" class="left">Hospital</a></li>
                <li><a href="" class="left">FAQs</a></li>
                <li><a href="" class="left">Blog</a></li>
                <li><a href="" class="left">Request A Quote</a></li>
            </ul>
            <div class="search-bar">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>
</div>