<div class="carousel">
    <div class="small-container">
        <div class="carousal-text">
            <!-- Add breadcrumb here -->
            <h4>Home <span class="span-red">></span> Treatments <span class="span-red">></span> Orthopaedics <span
                    class="span-red">></span> Knee Replacement</h4>

                    <!-- <p-breadcrumb class="max-w-full">
                        <ng-template pTemplate="item" >
                            <ng-container>
                                <a [routerLink]="" class="p-menuitem-link">
                                    <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                                    <span class="text-primary font-semibold">Home</span>
                                </a>
                            </ng-container>
                            <ng-template #elseBlock>
                                <a [href]="">
                                    <span class="text-color"></span>
                                </a>
                            </ng-template>
                        </ng-template>
                    </p-breadcrumb> -->
         
         <h1>Total Knee Replacement</h1>
            <p>Total knee replacement is a surgery to remove and replace the whole<br>damage knee joint with an
                artificial joint.</p>
            <a href="" class="btn">Enquire Now</a>
        </div>
    </div>
</div>

<div class="navbar-2" id="navbar-2">
    <div class="small-container">
        <div class="row">
            <ul id="Active">
                <li><a (click)="handleClick('overview')" class="active active-btn">Overview</a></li>
                <li><a (click)="handleClick('eligibility')" class="active-btn">Eligibility</a></li>
                <li><a (click)="handleClick('preparation')" class="active-btn">Preparation</a></li>
                <li><a (click)="handleClick('about-treatment')" class="active-btn">About Treatment</a></li>
                <li><a (click)="handleClick('post-treatment-care')" class="active-btn">Post-Treatment Care</a></li>
                <li><a (click)="handleClick('recovery-tips')" class="active-btn">Recovery Tips</a></li>
                <li><a (click)="handleClick('faqs')" class="active-btn">FAQs</a></li>
                <li><a (click)="handleClick('patient-stories')" class="active-btn">Patient Stories</a></li>
            </ul>
        </div>
    </div>
</div>
