

<div class="Overview">
    <div class="small-container">
        <div class="row row-2" id="overview">
            <div class="col-2">
                <h2>Treatment Overview<span class="span-red">.</span></h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cum ducimus? Vero dolores
                    ducimus dicta veritatis, sapiente nam laborum hic!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, sunt esse quia repellendus
                    eius
                    cupiditate quos, magni harum architecto blanditiis, incidunt alias perferendis recusandae
                    expedita eum quod sint. Sapiente fuga quibusdam sint, rem dolore perspiciatis odio ratione
                    voluptatibus tenetur quidem, iure sed! Assumenda, asperiores. Aliquam incidunt cum ab
                    inventore
                    et.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis reprehenderit beatae,
                    quibusdam
                    quae dolorem minus inventore.</p>
            </div>
            <div class="col-2">
                <img src="./assets/treatment.jpg" alt="" >
            </div>
        </div>
    </div>
</div>