<div class="doctor-team">
    <div class="small-container">
        <div class="row">
            <div class="title">
                <h3>Doctors</h3>
                <h2>Top Orthopaedics <span class="span-blue">Doctors</span></h2>
            </div>      
        </div>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let doctor of doctors">
              <div class="dr-card">
                <img [src]="doctor.image" alt="{{doctor.name}}">
                <h4>{{ doctor.name }}</h4>
                <p>{{ doctor.location }}</p>
                <small>{{ doctor.specialty }}</small>
              </div>
            </ng-template>
          </owl-carousel-o>
    </div>


</div>

