<div class="Hospitals doctor-team">
    <div class="small-container">
        <div class="row">
            <div class="title">
                <h3>Hospital</h3>
                <h2>Recommend <span class="span-blue">Hospitals</span></h2>
            </div>
            <div class="dr-cards">
                <div class="dr-card">
                    <img src="./assets/hospital 1.1.jpg" alt="">
                    <p>Apollo Hospital</p>
                    <h4>Bangalore</h4>
                </div>
                <div class="dr-card">
                    <img src="./assets/hospital 2.1.jpg" alt="">
                    <p>Medanta Hospital</p>
                    <h4>Gurgaon</h4>
                </div>
                <div class="dr-card">
                    <img src="./assets/hospital 3.1.jpg" alt="">
                    <p>Jaslok Hospital</p>
                    <h4>Mumbai</h4>
                </div>
            </div>
            <div class="title">
                <p>Don't hesitate, contact us for better help and services. <span class="span-red">Explore all
                        Hospitals</span></p>
            </div>
        </div>
    </div>
</div>